<ion-content [fullscreen]="true">
  <ion-card>
    <div class="wrap">
      <h3>Sign Up for</h3>

      <h3>work orginizer</h3>
      <br />
      <p>Have your busy life orginized in one place</p>
    </div>
    <br />
    <br />
    <div class="container">
      <div class="continue-with-Goole" (click)="loginGoogle()">
        <div class="icon">
          <ion-icon size="large" name="logo-google"></ion-icon>
        </div>
        <div class="words">Continue with Google</div>
      </div>
      <br />
      <br />
      <br />
      <div class="continue-with-email-and-pass" (click)="LoginWithPassword()">
        <div class="icon">
          <ion-icon size="large" name="mail"></ion-icon>
        </div>
        <div class="words2">Sign up with Email and Password</div>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <p>Already have an account? <a (click)="login()">Log in now</a></p>
    </div>
  </ion-card>
</ion-content>
