<ion-content [fullscreen]="true" *ngIf="task">
  <ion-card>
    <div class="wrap">
      <h3>Postpone task</h3>
    </div>
    <br />
    <br />
    <form (ngSubmit)="tasks(TaskData)" #TaskData="ngForm">
      <div class="container">
        <div class="Email">
          <label class="title">TASK TITLE</label>
          <input
           value="{{task.taskName}}"
           [(ngModel)]="task.taskName"
            class="inp"
            type="text"
            name="name"
            #name="ngModel"
            ngModel
            required
          />
        </div>
        <br />
        <br />
        <br />
        <div class="times">
          <div class="time-from">
            <ion-label>FROM</ion-label>

            <ion-datetime
            value="{{task.startTime}}"
            [(ngModel)]="task.startTime"
              name="fromTime"
              #fromTime="ngModel"
              ngModel
              required
              displayFormat="h:mm a"
              placeholder="09:00 AM"
            ></ion-datetime>
          </div>
          <div class="time-to">
            <ion-label>TO</ion-label>

            <ion-datetime
            value="{{task.endTime}}"
            [(ngModel)]="task.endTime"
              name="toTime"
              #toTime="ngModel"
              ngModel
              required
              displayFormat="h:mm a"
              placeholder="09:00 AM"
            ></ion-datetime>
          </div>
        </div>
        <br />
        <br />
        <div class="labels">
          <label class="label1">TYPE</label>
          <label class="label2">PRIORITY</label>
        </div>
        <div class="types">
          <div class="type">
            <input
            value="{{task.type}}"
            [(ngModel)]="task.type"
              #type="ngModel"
              ngModel
              required
              class="inp2"
              type="text"
              name="type"
              placeholder="meeting"
            />
          </div>
          <div class="priority">
            <input
            value="{{task.priority}}"
            [(ngModel)]="task.priority"
              #priority="ngModel"
              ngModel
              required
              class="inp2"
              type="text"
              name="priority"
              placeholder="high/low"
            />
          </div>
        </div>
        <br />
        <br />
        <div class="description">
          <textarea
          value="{{task.note}}"
          [(ngModel)]="task.note"
            #note="ngModel"
            ngModel
            required
            name="note"
            id=""
            cols="30"
            rows="10"
            placeholder="Notes"
          >
       
        </textarea
          >
        </div>

        <div class="buttons">
          <ion-button type="submit" expand="block" shape="round"
            >Postpone</ion-button
          >
        </div>
        <br />
      </div>
    </form>
  </ion-card>
</ion-content>
