<ion-header class="ion-no-border">
  <ion-list lines="none">
    <ion-item color="primary">
      <ion-icon slot="start" name=""></ion-icon>
    </ion-item>
    <ion-item color="primary" >
      <ion-label>Applied jobs</ion-label>
      <h5>total {{total}}</h5>
    </ion-item>
    
  </ion-list>

</ion-header>

<ion-content >


<ion-fab vertical="bottom" (click)="toForm()" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon class="icon" name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-card class="card" *ngFor="let item of application">
  <h2>{{item.companyName}} </h2>
  <p>{{item.jobTitle}} </p>
 
  <p>{{item.timeCreated | date: 'MMM d, y, h:mm:ss a' }} </p>
</ion-card>
</ion-content>
