ion-content {
  --background: #5d4df1;
}
.main {
  text-align: center;
  padding: 6%;
  --background: rgb(174, 245, 174);
}
ion-card {
  text-align: center;
  
  --box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}
