
<ion-header>
    <ion-toolbar>
        <div class="header">
            <div>
                <a routerLink="/deliveriespage"></a>
                <ion-icon name="chevron-back"></ion-icon>
            </div>
            <div>
                <ion-title>
                  Product 
                </ion-title>
            </div>
            <div>
              <img src="../../assets/images/logo.png ">
            </div>
        </div>
    </ion-toolbar>
  </ion-header>

<ion-content *ngIf="product">
     <div class="topDetails">
         <div>
             <ion-card class="productPic">
                 <img src="{{product.imgae}}" alt="">
             </ion-card>
         </div>
         <div>
             <ion-text>
                 <h5>R{{product.price}}</h5>
                 
             </ion-text>
         </div>
     </div>
     <div class="name">
        <h4>{{product.productName}}</h4>
     </div>
     <div class="description">
         <ion-text>
             <p>{{product.description}}</p>
         </ion-text>
     </div>
    
   

    
    <ion-button color="light" class="editButton">
        <a routerLink="/productspage">EDIT</a>
    </ion-button>

    <ion-button color="light" (click)="back()">
        CLOSE
    </ion-button>

</ion-content>

<!-- <ion-footer>
    <ion-toolbar class="ftr">
        <div class="image-ftr">
            <div class="image">
                <a routerLink="/productspage"> <img src="../../assets/images/Group 114.png"></a>
            </div>
            <div class="image">
                <a routerLink="/clientprofile"> <img src="../../assets/images/Group 113@2x.png"></a>
            </div>
            <div class="image">
                <a routerLink="/trainingpage"> <img src="../../assets/images/Group 112@2x.png"></a>
            </div>
            <div class="image">
                <a routerLink="/deliveriespage"> <img src="../../assets/images/Group 111@2x.png"></a>
            </div>
        </div>
    </ion-toolbar>
</ion-footer> -->