













<ion-content>
    <div class="background-container">

        <div class="background-filter">


    <img src="../../assets/images/ArtboardLogo.png ">
    <ion-button color="light" (click)="login()">
        <a ><span class="login">LOG IN</span> </a>
    </ion-button>
    <div class="account ">
        <p class="paragraph">
            Don't have an account yet?<a routerLink="/form-stepper"><span (click)="register()">Register here</span> </a>
        </p>
    </div>
    </div>
</div>
</ion-content>