





#bg {
    height: 50%;
    width: 500px;
    background:  url('/assets/imgs/leaves.jpg') no-repeat center center/cover;
    border-radius: 0 0 45% 45%;
    margin-left: -19vw;
    position: relative;
    //background:rgb(195, 90, 236) ;
  }
  ion-fab {
    ion-icon {
        font-size: 2.5rem;
    }
  }
  
  
  .fab{
    --background: rgb(240, 159, 159);
    --background-activated:rgb(240, 159, 159);
  }
  
  ion-header {
   
   
    ion-list {
      height: 40vh;
      background: url('/assets/imgs/leaves.jpg') no-repeat center center/cover;
        border-radius: 0 0 20px 20px;
        padding-bottom: 7vh;
        ion-item {
            ion-label {
                font-weight: bold;
                font-size: 1.2rem;
                letter-spacing: 0.5px;
            }
            ion-avatar {
                background: white;
            }
        }
    }
    .popover {
        margin: 0 8px;
        ion-searchbar {
            --border-radius: 20px;
            margin-top: -30px;
        }
    }
  }
  
  .content{
  
    margin-top: 2rem;
  
    
  }
  