<ion-header class="ion-no-border">
  <ion-list lines="none">
    
   
  </ion-list>

</ion-header>


<ion-content [fullscreen]="true"  *ngIf="details">
  <ion-fab vertical="top" edge horizontal="center" slot="fixed">
    <ion-fab-button (click)="  toSign()" class="fab" >
      <ion-icon name="close-outline" color="white"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
    <div class="content">
      <form (ngSubmit)="Update(UpdateData)" #UpdateData="ngForm">
        <ion-list lines="none" class="ion-margin">
          <ion-list-header>UPDATE PROFILE </ion-list-header>
  
          

  
          <ion-item class="ion-margin">
            <ion-input
            value="details.name"
             type="text"
            [(ngModel)]="details.name"
            name="name" type="text" clearInput="true"></ion-input>
          </ion-item>

          <ion-item class="ion-margin">
            <ion-input
            value="details.surname"
             type="text"
            [(ngModel)]="details.surname"
            name="surname" type="text" clearInput="true"></ion-input>
          </ion-item>
  
          <ion-item class="ion-margin">
            <ion-input 
            value="details.email"
            type="email"
            [(ngModel)]="details.email"
            name="email" placeholder="Enter Username" type="text" clearInput="true"></ion-input>
          </ion-item>
  
          <div align="right">
            <ion-button type="submit" shape="round" strong="true" class="ion-margin-end" color="primary">
             UPDATE 
              <ion-icon name="update"  slot="end"></ion-icon>
            </ion-button>
          </div>
        </ion-list>
      </form>
     
    </div>
 
  
 
</ion-content>