.logout {
}
.continue-with-Goole {
  padding: 5%;
  border: solid black 1px;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}
.icon {
  display: flex;
  justify-content: space-around !important;
}
.ico {
  margin-left: 12rem;
}
.words {
  margin-top: 9px;
}
ion-card {
  padding: 2%;
  text-align: center;
}
ion-content {
  --background: #5d4df1;
}
h1 {
  text-align: center;
  color: white;
}
