<ion-header>
    <ion-toolbar>
        <div class="header">
            <div>
                <a routerLink="/productspage ">
                    <ion-icon name="chevron-back"></ion-icon>
                </a>
            </div>
            <div>
                <ion-title>
                    training
                </ion-title>
            </div>
            <div>
                <img src="../../assets/images/logo.png ">
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Introduction to vegetable production</ion-card-title>
                <ion-card-subtitle></ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-text> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.<br></ion-text>

                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <p>Duration:</p>
                        </ion-col>
                        <ion-col>
                            <p>4&nbsp;days</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p>Price:</p>
                        </ion-col>
                        <ion-col>
                            <p>R&nbsp;550.00&nbsp; PAID</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-button color="light" (click)="OpenConfirmDialogue()">BOOK NOW</ion-button>
                <ion-text>
                </ion-text>
            </ion-card-content>
        </ion-card>
    </ion-item>

    <ion-item>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Hydroponic vegetable production</ion-card-title>
                <ion-card-subtitle></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-text> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.<br></ion-text>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <p>Duration:</p>
                        </ion-col>
                        <ion-col>
                            <p>4&nbsp;days</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p>Price:</p>
                        </ion-col>
                        <ion-col>
                            <p>R&nbsp;550.00&nbsp; PAID</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button color="light" (click)="OpenConfirmDialogue()">BOOK NOW</ion-button>
            </ion-card-content>
        </ion-card>
    </ion-item>

    <ion-item>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title>Financial management</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.<br></ion-text>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <p>Duration:</p>
                        </ion-col>
                        <ion-col>
                            <p>4&nbsp;days</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p>Price:</p>
                        </ion-col>
                        <ion-col>
                            <p>R&nbsp;550.00&nbsp; PAID</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button color="light" (click)="OpenConfirmDialogue()">BOOK NOW</ion-button>
            </ion-card-content>
        </ion-card>
    </ion-item>

    <ion-item>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title>Business management</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.<br></ion-text>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <p>Duration:</p>
                        </ion-col>
                        <ion-col>
                            <p>4&nbsp;days</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p>Price:</p>
                        </ion-col>
                        <ion-col>
                            <p>R&nbsp;550.00&nbsp; PAID</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ion-button color="light" (click)="OpenConfirmDialogue()">BOOK NOW</ion-button>
            </ion-card-content>
        </ion-card>
    </ion-item>

    <ion-item>
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle></ion-card-subtitle>
                <ion-card-title>Quality management systems</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.<br></ion-text>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <p>Duration:</p>
                        </ion-col>
                        <ion-col>
                            <p>4&nbsp;days</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <p>Price:</p>
                        </ion-col>
                        <ion-col>
                            <p>R&nbsp;550.00&nbsp; PAID</p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-button color="light" (click)="OpenConfirmDialogue()">BOOK NOW</ion-button>
            </ion-card-content>
        </ion-card>
    </ion-item>
    <ion-button>
        <a routerLink="/trainingpayment">Purchse</a>
    </ion-button>
</ion-content>

<!--<ion-footer>
    <ion-toolbar class="ftr">
        <div class="image-ftr">
            <div class="image">
                <a routerLink="/productspage"> <img src="../../assets/images/Group 114.png"> </a>

            </div>
            <div class="image">
                <a routerLink="/clientprofile"> <img src="../../assets/images/Group 113@2x.png"> </a>
            </div>
            <div class="image">
                <a routerLink="/trainingpage"> <img src="../../assets/images/Group 112@2x.png"> </a>
            </div>
            <div class="image">
                <a routerLink="/deliveriespage"> <img src="../../assets/images/Group 111@2x.png"> </a>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>-->