<ion-content [fullscreen]="true">
  <div class="page">
    <ion-card>
      <div class="wrap">
        <h3>Enter your email to reset password</h3>

        <br />
      </div>
      <br />
      <br />
      <div class="container">
        <div class="Email">
          <input
            type="email"
            name="email"
             
            placeholder="kenny@gmail.com"
          />
        </div>
        <br />
        <br />
        <br />
        <ion-button expand="block" shape="round" (click)="resetPassword()"
          >RESET PASSWORD</ion-button
        >
        <ion-button class="cancel" expand="block" shape="round" (click)="back()"
          >CANCEL</ion-button
        >
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </div>
    </ion-card>
  </div>
</ion-content>
