<ion-item class="listOfAmounts">
    <div class="amounts">
        <div>
            <p>29 jun 21</p>
        </div>
        <div>
            <p>sale # 2569</p>
        </div>
        <div>
            <p>r 896.95
                <ion-icon name="arrow-down-outline"></ion-icon>
            </p>
        </div>
    </div>
</ion-item>
<ion-item class="listOfAmounts">
    <div class="amounts">
        <div>
            <p>29 jun 21</p>
        </div>
        <div>
            <p>sale # 2569</p>
        </div>
        <div>
            <p>r 896.95
                <ion-icon name="arrow-down-outline"></ion-icon>
            </p>
        </div>
    </div>
</ion-item>
<ion-item class="listOfAmounts">
    <div class="amounts">
        <div>
            <p>29 jun 21</p>
        </div>
        <div>
            <p>sale # 2569</p>
        </div>
        <div>
            <p>r 896.95
                <ion-icon name="arrow-down-outline"></ion-icon>
            </p>
        </div>
    </div>
</ion-item>
<ion-item class="listOfAmounts">
    <div class="amounts">
        <div>
            <p>29 jun 21</p>
        </div>
        <div>
            <p>sale # 2569</p>
        </div>
        <div>
            <p>r 896.95
                <ion-icon name="arrow-down-outline"></ion-icon>
            </p>
        </div>
    </div>
</ion-item>
<ion-item class="listOfAmounts">
    <div class="amounts">
        <div>
            <p>29 jun 21</p>
        </div>
        <div>
            <p>sale # 2569</p>
        </div>
        <div>
            <p>r 896.95
                <ion-icon name="arrow-down-outline"></ion-icon>
            </p>
        </div>
    </div>
</ion-item>
<ion-item class="listOfAmounts">
    <div class="amounts">
        <div>
            <p>29 jun 21</p>
        </div>
        <div>
            <p>sale # 2569</p>
        </div>
        <div>
            <p>r 896.95
                <ion-icon name="arrow-down-outline"></ion-icon>
            </p>
        </div>
    </div>
</ion-item>
<ion-item class="listOfAmounts">
    <div class="amounts">
        <div>
            <p>29 jun 21</p>
        </div>
        <div>
            <p>sale # 2569</p>
        </div>
        <div>
            <p>r 896.95
                <ion-icon name="arrow-down-outline"></ion-icon>
            </p>
        </div>
    </div>
</ion-item>
<ion-item class="listOfAmounts">
    <div class="amounts">
        <div>
            <p>29 jun 21</p>
        </div>
        <div>
            <p>sale # 2569</p>
        </div>
        <div>
            <p>r 896.95
                <ion-icon name="arrow-down-outline"></ion-icon>
            </p>
        </div>
    </div>
</ion-item>
<ion-item class="listOfAmounts">
    <div class="amounts">
        <div>
            <p>29 jun 21</p>
        </div>
        <div>
            <p>sale # 2569</p>
        </div>
        <div>
            <p>r 896.95
                <ion-icon name="arrow-down-outline"></ion-icon>
            </p>
        </div>
    </div>
</ion-item>
<ion-item class="listOfAmounts">
    <div class="amounts">
        <div>
            <p>29 jun 21</p>
        </div>
        <div>
            <p>sale # 2569</p>
        </div>
        <div>
            <p>r 896.95
                <ion-icon name="arrow-down-outline"></ion-icon>
            </p>
        </div>
    </div>
</ion-item>
<ion-item class="listOfAmounts">
    <div class="amounts">
        <div>
            <p>29 jun 21</p>
        </div>
        <div>
            <p>sale # 2569</p>
        </div>
        <div>
            <p>r 896.95
                <ion-icon name="arrow-down-outline"></ion-icon>
            </p>
        </div>
    </div>
</ion-item>
<ion-item class="listOfAmounts">
    <div class="amounts">
        <div>
            <p>29 jun 21</p>
        </div>
        <div>
            <p>sale # 2569</p>
        </div>
        <div>
            <p>r 896.95
                <ion-icon name="arrow-down-outline"></ion-icon>
            </p>
        </div>
    </div>
</ion-item>
<ion-item class="listOfAmounts">
    <div class="amounts">
        <div>
            <p>29 jun 21</p>
        </div>
        <div>
            <p>sale # 2569</p>
        </div>
        <div>
            <p>r 896.95
                <ion-icon name="arrow-down-outline"></ion-icon>
            </p>
        </div>
    </div>
</ion-item>
<ion-item class="listOfAmounts">
    <div class="amounts">
        <div>
            <p>29 jun 21</p>
        </div>
        <div>
            <p>sale # 2569</p>
        </div>
        <div>
            <p>r 896.95
                <ion-icon name="arrow-down-outline"></ion-icon>
            </p>
        </div>
    </div>
</ion-item>
<ion-item class="listOfAmounts">
    <div class="amounts">
        <div>
            <p>29 jun 21</p>
        </div>
        <div>
            <p>sale # 2569</p>
        </div>
        <div>
            <p>r 896.95
                <ion-icon name="arrow-down-outline"></ion-icon>
            </p>
        </div>
    </div>
</ion-item>