

<ion-content>
  <ion-card>
    <div class="wrap">
      <h3>Record Application</h3>
    </div>
    <br />
    <br />
    <form (ngSubmit)="application(ApplicationData)" #ApplicationData="ngForm">
      <div class="container">
        <label class="title">Company name</label>
        <div class="Email">
          
          <br>
          <input
            class="inp"
            type="text"
            name="companyName"
            #companyName="ngModel"
            ngModel
            required
          />
        </div>
        <br>
        <label class="title">Job Title</label>
        <div class="Email">
          
          <br>
          <input
            class="inp"
            type="text"
            name="jobTitle"
            #jobTitle="ngModel"
            ngModel
            required
          />
        </div>
        
        
      

        <div class="buttons">
          <ion-button type="submit" expand="block" shape="round"
            >Record</ion-button
          >
        </div>
  
      </div>
    </form>
    <ion-button class="cancel" expand="block" shape="round" (click)="home()"
      >Cancel</ion-button
    >
    <br />
  </ion-card>
</ion-content>
