.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4%;
}

ion-toolbar {
    --background: rgb(237, 248, 246);
}

.header div:nth-child(1) {
    ion-icon {
        font-weight: 900 !important;
        font-size: 30px;
        opacity: 50%;
        margin-top: 10px;
    }
}

.header div:nth-child(2) {
    float: right;
    text-align: center;
    ion-title {
        text-transform: capitalize;
        font-size: 20px;
        opacity: 50%;
        font-weight: 400;
    }
}

.header div:nth-child(3) {
    float: right;
    text-align: right;
    ion-icon {
        color: rgb(150, 207, 65);
    }
    img{
        margin-top:5px;
    }
}
.topDetails{
    width:100%;
    float: left;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
.topDetails > div{
    text-align: center;
}
.topDetails div:nth-child(1){
   
}
.topDetails div:nth-child(2){
    //background-color: rgb(143, 79, 79);
    ion-text{
        h5{
            margin-top:35px;
             text-align: left;
             font-size: 18px; 
             font-weight: 500;
    
        }  
       
    }
    ion-text h5:nth-child(1){
        color: rgb(135, 199, 39);
    }
}
 .productPic{
     width: 150px;
    height: 150px;
    img{
        width: 140px;
        height: 140px;
        margin-top: 20px;
        
    }
 }
.camera{
  //margin-left: -7rem;
  font-size: 50px;
   margin-top: 50px;
  color:  rgb(150, 207, 65);
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.inputCustom{
    box-shadow: none !important;
    border: none !important;
    border-radius: 25px;
   // width: 100% !important;
    //width: 270px !important;
    width:100%;
 
    text-align: left !important;
    box-shadow: 5px 5px 5px rgba(233, 233, 233) inset !important;
}
.input-wrapper{
    //border: 1px solid black;
    border-radius: 45px;
   // box-shadow: 5px 5px 5px rgba(233, 233, 233) inset;
    width: 100% !important;
    float: left;
    padding: 1%;
 
}
.price-quantity{
    margin-top: 35px;
}
textarea{
    outline: none !important;
  padding: 4% !important;
}
ion-button {
    align-items: center;
    --border-radius: 25px;
    margin-top: 20px;
    margin-left: 80px;
    color: black;
    width: 194px;
}

ion-button a {
    text-align: center;
    text-decoration: none;
    color: #575F6B;
    box-shadow: 4px 5px 5px 5px rgba(233, 233, 233, 0.6)
}