
<ion-header>
    <ion-toolbar>
        <div class="header">
            <div>
                <a routerLink="/deliveriespage"></a>
                <ion-icon (click)="backToHome()" name="chevron-back"></ion-icon>
            </div>
            <div>
                <ion-title>
                  Products 
                </ion-title>
            </div>
            <div>
              <img src="../../assets/images/logo.png ">
            </div>
        </div>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <form (ngSubmit)="addProduct(productData)" #productData="ngForm">
    <div class="topDetails">
        <div>
            <ion-card class="productPic">
              <ion-icon *ngIf="!base64" (click)="pickImageFromGallery()" class="camera" name="camera-sharp"></ion-icon>
              <img *ngIf="base64" [src]="base64"/> 
            </ion-card>
        </div>
        <div>
            <div class="price-quantity">
                <div class="input-wrapper">
                    <ion-item lines="none">
                      <input size="100" class="inputCustom" type="text" placeholder="Price" name="price"
                      #price="ngModel" ngModel required>
                    </ion-item>
                  </div>
                  <div style="margin-top: 10px;" class="input-wrapper">
                    <ion-item lines="none">
                      <input size="100" class="inputCustom" type="text" placeholder="Quantity" name="quality"
                      #quality="ngModel" ngModel required>
                    </ion-item>
                  </div>
            </div>
           
        </div>
    </div>
    <div class="input-wrapper">
        <ion-item lines="none">
          <input size="100" class="inputCustom" type="text" placeholder="Product Name" name="productName"
          #productName="ngModel" ngModel required>
        </ion-item>
      </div>
      <div style="margin-top: 10px;" class="input-wrapper">
        <ion-item lines="none">
          <input size="100" class="inputCustom" type="text" placeholder="Crate, Units or Tonnes" name="units"
          #units="ngModel" ngModel required>
        </ion-item>
      </div>
      <div style="margin-top: 10px;" class="input-wrapper">
        <ion-item lines="none">
          <textarea style="height: 150px;" size="100" class="inputCustom" type="text" placeholder="Description" name="description"
          #description="ngModel" ngModel required ></textarea>
        </ion-item>
      </div>
      <ion-button color="light " type="submit">
        SUBMIT LISTING
     </ion-button>
    </form>
</ion-content>
