<ion-header>
    <ion-toolbar class="header-cont">
        <div class="cont ">
            <a routerLink="/addproducts">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
            <p>Profile</p>
            <img src="../../assets/images/logo.png ">
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <div class="profile-pic">
            <div class="profile"><img src="../../assets/images/pexels-pixabay-265216@2x.png" alt="pic" class="pic"></div>
            <div class="person"> <img src="../../assets/images/profilepic.png" alt="avatar">
                <p>4325<br>Sold</p>
                <p>6523<br>Listed</p>
                <p>3421<br>Reviews</p>
            </div>
        </div>
    </ion-item>

    <ion-item>
        <div class="details">
            <div class="name">
                <h3>Phathutshedzo Nemaguvhuni</h3>
                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
            </div>
            <p>Owner at Phathu Farms</p>
            <p class="fnd">Available funds:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;R&nbsp;12548.95</p>
        </div>
    </ion-item>

    <ion-item>
        <div class="training">
            <h4>Upcoming Training Workshops</h4>
            <p>Hydroponic Vegetable production</p>
            <!--<p>Duration:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4&nbsp;days</p>
            <p>Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; R&nbsp;550.00&nbsp;PAID</p>
            <p>Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 13&nbsp;August&nbsp;&nbsp;2021</p>-->
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <p>Duration:</p>
                    </ion-col>
                    <ion-col>
                        <p>4&nbsp;days</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <p>Price:</p>
                    </ion-col>
                    <ion-col>
                        <p>R&nbsp;550.00&nbsp; PAID</p>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <p>Date:</p>
                    </ion-col>
                    <ion-col>
                        <p>13&nbsp;August&nbsp;2021</p>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </div>
    </ion-item>

    <div class="grid">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <img src="../../assets/images/pic3.jpg ">
                </ion-col>
                <ion-col>
                    <img src="../../assets/images/pic4.jpg ">
                </ion-col>
                <ion-col>
                    <img src="../../assets/images/pic1.jpg ">
                </ion-col>

            </ion-row>

            <ion-row>
                <ion-col>
                    <img src="../../assets/images/pic3.jpg ">
                </ion-col>
                <ion-col>
                    <img src="../../assets/images/pic4.jpg ">
                </ion-col>
                <ion-col>
                    <img src="../../assets/images/pic1.jpg ">
                </ion-col>

            </ion-row>
        </ion-grid>
    </div>

</ion-content>

<ion-footer>
    <ion-toolbar class="ftr">
        <div class="image-ftr">
            <div class="image">
                <a routerLink="/productspage"> <img src="../../assets/images/Group 114.png"> </a>

            </div>
            <div class="image">
                <a routerLink="/clientprofile"> <img src="../../assets/images/Group 113@2x.png"> </a>
            </div>
            <div class="image">
                <a routerLink="/trainingpage"> <img src="../../assets/images/Group 112@2x.png"> </a>
            </div>
            <div class="image">
                <a routerLink="/deliveriespage"> <img src="../../assets/images/Group 111@2x.png"> </a>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>