<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <div class="back">
      <ion-icon size="large" (click)="toHome()" name="arrow-back"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  
<div class="heading">
  <h2>About this App</h2>
</div>
<div class="body1">
  <h3>Task Schedule</h3>
  <br>
  <p>it is specially designed for people who are always busy <br>
  to help in scheduling important tasks. <br>And again its designed for job seekers to keep track of  applications.</p>
 <p>--------------------------------------</p>
 
</div>
<div class="body2">
  <h3>App features</h3>
  <p>-Add task</p>
  <p>-Record application</p>
  <p>-View applications</p>
  <p>-View task</p>
  <p>-Delete task</p>
 
 
  
  

</div>
<div class="body3">
  <h4>Developed by</h4>
  <p>Kenneth Tumi</p>
</div>
</ion-content>
