<!--<ion-content [fullscreen]="true">
  <ion-card>
    <div class="wrap">
      <h3>Sign In for</h3>
      <h3>task schedule</h3>
      <p>Have your busy life managed in one place</p>
    </div>
    <br />
  
    <div class="container">
      <div class="Email">
        <label>EMAIL</label>
        <input
          [(ngModel)]="email"
          type="email"
          name="email"
          placeholder="kenny@gmail.com"
        />
      </div>
      <br />
      <br />
    
      <div class="Password">
        <label>PASSWORD</label>
        <input [(ngModel)]="password" type="password" name="password" />
      </div>
      <ion-button expand="block" shape="round" (click)="login()"
        >Sign In</ion-button
      >
    
      <br />
     
      <p>
        Forgot password? No problem
        <a (click)="forgot()">click here to reset</a>
      </p>
      <p>Don't have an account? <a (click)="register()">Sign Up now</a></p>
    </div>
  </ion-card>
</ion-content>-->
<ion-header class="ion-no-border">
  <ion-list lines="none">
    
   
  </ion-list>

</ion-header>


<ion-content [fullscreen]="true">
  <ion-fab vertical="top" edge horizontal="center" slot="fixed">
    <ion-fab-button (click)="  toSign()" class="fab" routerLink="/login">
      <ion-icon name="close-outline" color="white"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
    <div class="content">
      <ion-list lines="none" class="ion-margin">
        <ion-list-header>WELCOME </ion-list-header>
        <ion-item class="ion-margin">
          <ion-input type="email"
          [(ngModel)]="email"
          name="email" placeholder="Enter Username" type="text" clearInput="true"></ion-input>
        </ion-item>
        <ion-item class="ion-margin">
          <ion-input [(ngModel)]="password"  name="password" placeholder="Enter Password" type="password" clearInput="true"></ion-input>
        </ion-item>
        <ion-text color="medium"><p (click)="forgot()" class="ion-margin-horizontal">Forgot Password?</p></ion-text>
        <div align="right">
          <ion-button  (click)="login()"  shape="round" strong="true" class="">
            SIGN IN
            <ion-icon name="log-in"  slot="end"></ion-icon>
          </ion-button>
        </div>
      </ion-list>
    </div>
 
  
 
</ion-content>