ion-content {
  --background: url("../../../assets/backgroundImage/purple2.png ") no-repeat
    center/cover fixed;
}

.container {
  text-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
  color: white;
}
.login-btn {
  --background: #eee8e8;
  --background-activated: #eee8e8;

  margin-left: 10px;
  margin-right: 10px;
  color: #a806c2;
  --background-hover: #bdb8b8;
  --box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
}
