
<ion-header>
  <ion-toolbar>
      <div class="header">
          <div>
              <a routerLink="/deliveriespage"></a>
              <ion-icon name="chevron-back"></ion-icon>
          </div>
          <div>
              <ion-title>
                Products
              </ion-title>
          </div>
          <div>
            <img src="../../assets/images/logo.png ">
          </div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
    

   

        <div class="product-images">
            <div *ngFor="let item of image">
                <img  [routerLink]="['/', 'additionalproducts', item.payload.doc.id]" routerLinkActive="router-link-active" [src]="item.payload.doc.data().imgae"/> 
            </div>
        </div>

        <ion-fab vertical="bottom" horizontal="center" slot="fixed">
            <ion-fab-button>
                <a routerLink="/addproducts">
                    <ion-icon name="add"></ion-icon>
                </a>
            </ion-fab-button>
        </ion-fab>


</ion-content>

<!-- <ion-footer>
    <ion-toolbar class="ftr">
        <div class="image-ftr">
            <div class="image">
                <a routerLink="/productspage"> <img src="../../assets/images/Group 114.png"> </a>

            </div>
            <div class="image">
                <a routerLink="/clientprofile"> <img src="../../assets/images/Group 113@2x.png"> </a>
            </div>
            <div class="image">
                <a routerLink="/trainingpage"> <img src="../../assets/images/Group 112@2x.png"> </a>
            </div>
            <div class="image">
                <a routerLink="/deliveriespage"> <img src="../../assets/images/Group 111@2x.png"> </a>
            </div>
        </div>
    </ion-toolbar>
</ion-footer> -->

