
<ion-header>
  <ion-toolbar>
      <div class="header">
          <div>
              <a routerLink="/deliveriespage"></a>
              <ion-icon name="chevron-back"></ion-icon>
          </div>
          <div>
              <ion-title>
                Products
              </ion-title>
          </div>
          <div>
            <img src="../../assets/images/logo.png ">
          </div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
    

   

        <div class="product-images">
            <div *ngFor="let item of image">
                <img  [routerLink]="['/', 'additionalproducts', item.payload.doc.id]" routerLinkActive="router-link-active" [src]="item.payload.doc.data().imgae"/> 

                <ion-text>
                    <p>R {{item.payload.doc.data().price}}</p>
                </ion-text>
            </div>
           
        </div>
        <div class="empty" *ngIf="count < 1">
            <ion-text>
                <h1>
                    No products yet!
                </h1>
            </ion-text>
        </div> 

        <ion-fab vertical="bottom" horizontal="center" slot="fixed">
            <ion-fab-button>
                <a routerLink="/addproducts">
                    <ion-icon name="add"></ion-icon>
                </a>
            </ion-fab-button>
        </ion-fab>


</ion-content>



