<ion-header>
  <ion-toolbar>
      <div class="header">
          <div>
              <a routerLink="/deliveriespage"></a>
              <ion-icon name="chevron-back"></ion-icon>
          </div>
          <div>
              <ion-title>
                 profile
              </ion-title>
          </div>
          <div>
            <img src="../../assets/images/logo.png ">
          </div>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="banner">
    
  </div>
  <div class="profile-content">
    <div><ion-avatar><img src="../../../assets/images/profilepic.png" alt=""></ion-avatar></div>
    <div>
      <ion-text>
          <p>36</p>
          <p>sold</p>
    </ion-text>
  </div>
    <div>
      <ion-text>
        <p>36</p>
        <p>listed</p>
  </ion-text>
    </div>
    <div>
      <ion-text>
        <p>36</p>
        <p>reviews</p>
  </ion-text>
    </div>
  </div>
 
  <div class="details">
    <ion-item lines="none">
      <ion-text> 
        <h1>Phathutshedzo Nemaguvhuni</h1>
        <h4>Owner at Phatu Farms</h4>
      </ion-text>
    </ion-item>
  </div>
  <div class="available-funds">
    <div><ion-text>available funds:</ion-text></div>
    <div><ion-text>R2737.00</ion-text></div>
    <hr/>
  </div>
  <div class="upcoming-training">
    <ion-text><h2>Upcoming Training Workshops</h2></ion-text>
    <ion-text><h4>Hydroponic Vegetable production</h4></ion-text>
    <div class="upcoming-training-details">
      <div>
        <ul>
          <li>duration:</li>
          <li>price:</li>
          <li>sate:</li>
        </ul>
      </div>
      <div>
        <ul>
          <li>4 days</li>
          <li>R3789</li>
          <li>13 august 2021</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="products">
   <div><img src="../../../assets/images/pic6.jpg" alt=""></div>
   <div><img src="../../../assets/images/pic6.jpg" alt=""></div>
   <div><img src="../../../assets/images/pic6.jpg" alt=""></div>
   <div><img src="../../../assets/images/pic6.jpg" alt=""></div>
   <div><img src="../../../assets/images/pic6.jpg" alt=""></div>
   <div><img src="../../../assets/images/pic6.jpg" alt=""></div>
   <div><img src="../../../assets/images/pic6.jpg" alt=""></div>
  </div>


  
</ion-content>
