<ion-header>
  <ion-toolbar class="top-toolbar">
    <div class="header">
      <div>
        <ion-icon (click)="landingPage()" name="chevron-back"></ion-icon>
      </div>
      <div>
       <ion-text>
         <h3>register</h3>
       </ion-text>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <mat-horizontal-stepper class="heard">
     <!-- <form (ngSubmit)="personalDetails(detailsData)" #detailsData="ngForm"> -->

    <mat-step>
      <div class="back-button-and-name">
        <div>
          <ion-icon name="chevron-back-outline"></ion-icon>
        </div>
        <div>
          <p>Personal details</p>
        </div>
      </div>

      <div>

       
   
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text" [(ngModel)]="name" placeholder="Name" >
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text"  [(ngModel)]="surname" placeholder="Surname" >
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="number"  [(ngModel)]="IDnumber" placeholder="ID Number">
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="email"  [(ngModel)]="email" placeholder="Email" >
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="password"  [(ngModel)]="password" placeholder="password" >
          </ion-item>
        </div>
        
        <div class="input-wrapper">
        
          <button mat-button matStepperNext>Next</button>
        
        </div>



      </div>
    </mat-step>
    <mat-step>
      <div class="back-button-and-name">
        <div>
          <ion-icon matStepperPrevious name="chevron-back-outline"></ion-icon>
        </div>
        <div>
          <p>physical address</p>
        </div>
      </div>

      <div>

        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text"  [(ngModel)]="streetName" placeholder="Street name & Number" >
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text"  [(ngModel)]="suburb" placeholder="Suburb" >
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text"  [(ngModel)]="city" placeholder="City" >
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text"  [(ngModel)]="province" placeholder="Province">
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text"  [(ngModel)]="postalCode" placeholder="Postal Code" >
          </ion-item>
        </div>

        <div class="input-wrapper">

          <button   mat-button matStepperNext>Next</button>

        </div>

   
      </div>
   
    </mat-step>
 
    <mat-step>

      <div class="back-button-and-name">
        <div>
          <ion-icon name="chevron-back-outline"></ion-icon>
        </div>
        <div>
          <p>company details</p>
        </div>
      </div>
      <div>

        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="number" placeholder="Registration Number"  [(ngModel)]="regNumber">
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text" placeholder="Tax Number" [(ngModel)]="taxNumber">
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text" placeholder="Contact Number" [(ngModel)]="contactNumber">
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="email" placeholder="Email Address" [(ngModel)]="companyEmail">
          </ion-item>
        </div>
        <div class="input-wrapper">

          <button mat-button matStepperNext>Next</button>

        </div>


      </div>
    </mat-step>
    <mat-step>

      <div class="back-button-and-name">
        <div>
          <ion-icon name="chevron-back-outline"></ion-icon>
        </div>
        <div>
          <p>company physical address</p>
        </div>
      </div>
      <div>

        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text" placeholder="Street name & Number" [(ngModel)]="street">
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text" placeholder="Suburb"  [(ngModel)]="companySuburb">
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text" placeholder="City" [(ngModel)]="companyCity">
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text" placeholder="Province"  [(ngModel)]="companyProvince">
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text" placeholder="Postal Code" [(ngModel)]="companyPostalCode">
          </ion-item>
        </div>

        <div class="input-wrapper">

          <button mat-button matStepperNext>Next</button>

        </div>


      </div>
    </mat-step>
    <mat-step>
      <div class="back-button-and-name">
        <div>
          <ion-icon name="chevron-back-outline"></ion-icon>
        </div>
        <div>
          <p>banking details</p>
        </div>
      </div>
      <div>

        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text" placeholder="Bank Name" [(ngModel)]="bankName">
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text" placeholder="Account Type"  [(ngModel)]="accountType">
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text" placeholder="Account Holder Name" [(ngModel)]="holderName">
          </ion-item>
        </div>
        <div class="input-wrapper">
          <ion-item lines="none">
            <input size="100" class="inputCustom" type="text" placeholder="Branch Name" [(ngModel)]="branch">
          </ion-item>
        </div>
        <div class="input-wrapper">
          <button (click)=" register()" type="submit" mat-button matStepperNext>register</button>
        </div>

      </div>
    </mat-step>


  </mat-horizontal-stepper>


</ion-content>
<ion-footer class="footer">
  <ion-toolbar class="ftr">
   
  </ion-toolbar>
</ion-footer>