<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="productspage">
      <i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i>
      <ion-label>tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>profile</ion-label> 
    </ion-tab-button>
    <ion-tab-button tab="trainingpage">
      <i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="deliveriespage">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
