.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4%;
}

ion-toolbar {
    --background: rgb(237, 248, 246);
}

.header div:nth-child(1) {
    ion-icon {
        font-weight: 900 !important;
        font-size: 30px;
        opacity: 50%;
    }
}

.header div:nth-child(2) {
    float: right;
    text-align: center;
    ion-title {
        text-transform: capitalize;
        font-size: 20px;
        opacity: 50%;
        font-weight: 400;
    }
}

.header div:nth-child(3) {
    float: right;
    text-align: right;
    ion-icon {
        color: rgb(150, 207, 65);
    }
}


/*content*/

.payment {
    float: right;
    margin: 20px;
    color: #575F6B;
}

.card-image {
    width: 100%;
    align-content: center;
}

.card-image img {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.text-field {
    /*width: 100%;*/
    width: 375px;
    background-color: peru !important;
}

.inputCustom{
    box-shadow: none !important;
    border: none !important;
    border-radius: 25px;
   // width: 100% !important;
    //width: 270px !important;
    width:100%;
 
    text-align: left !important;
    box-shadow: 5px 5px 5px rgba(233, 233, 233) inset !important;
}
.input-wrapper{
    //border: 1px solid black;
    border-radius: 45px;
   // box-shadow: 5px 5px 5px rgba(233, 233, 233) inset;
    width: 100% !important;
    float: left;
    padding: 1%;
    background-color: peru !important;
 
   
   
}
.input-container{
    width: 100%;
    float: left;
   margin-top: 40px;
   background-color: peru !important;
}
button {
    padding:2%;
    text-align: center;
    border-radius: 25px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    transform: translateY(50%);
    color: black;
    width: 194px;
    height: 50px;
    text-transform: uppercase;
    margin-top: 60px !important;

}
.grid{
    width: 100%;
    float: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
ion-item{
    --background: peru !important;
}
@media (min-width: 320px) and (max-width: 375px) {
    button{
        margin-top: 35% !important;
    }
    .input-container{
        margin-top: -0.5px;
    }
    .card-image{
        img{
            margin-top: -10px !important;
        }
     padding-bottom: 3% !important;
    }
}
@media (min-width: 375px) and (max-width: 375px) {
    button{
        margin-top: 40px !important;
    }
    .input-container{
        margin-top: -6px !important;
    }
    .card-image{
        img{
            margin-top: -10px !important;
        }
     padding-bottom: 3% !important;
    }
}