.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 4%;
}

ion-toolbar {
    --background: rgb(237, 248, 246);
}

.header div:nth-child(1) {
    ion-icon {
        font-weight: 900 !important;
        font-size: 30px;
        opacity: 50%;
    }
}

.header div:nth-child(2) {
    float: right;
    text-align: center;
    ion-title {
        text-transform: capitalize;
        font-size: 20px;
        opacity: 50%;
        font-weight: 400;
    }
}

.header div:nth-child(3) {
    float: right;
    text-align: right;
    ion-icon {
        color: rgb(150, 207, 65);
    }
}


/*content*/

.payment {
    float: right;
    margin: 20px;
    color: #575F6B;
}

.card-image {
    width: 100%;
    align-content: center;
}

.card-image img {
    margin-left: 80px;
}

.text-field {
    /*width: 100%;*/
    width: 375px;
    background-color: peru;
}

ion-card {
    width: 100%;
    box-shadow: 5px 5px 5px rgba(233, 233, 233) inset;
    border-radius: 25px;
    padding-left: 22px;
}

ion-card .input {
    width: 100%;
    margin-right: -40px !important;
}

ion-input {
    margin: 5px;
    padding: 0;
}

.input-field {
    display: flex;
    margin-top: -20px;
}

ion-button {
    text-align: center;
    --border-radius: 25px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 85%;
    transform: translateY(50%);
    color: black;
    width: 194px;
}

ion-button a {
    text-decoration: none;
    color: #575F6B;
}


/*footer*/

ion-footer {
    width: 100%;
    height: 126px;
    --ion-background-color: #EFF9F3;
}

ion-toolbar.ftr {
    --ion-background-color: #EFF9F3;
    width: 100%;
    position: fixed;
    bottom: 0;
    ;
}

ion-toolbar.ftr img {
    width: 58px;
}

div.image-ftr {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 10px;
    align-items: center;
}

div.image-ftr .image {
    justify-content: center;
}

div.image a:active {
    color: green;
}